.about_container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.about_img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.about_title {
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2em;
  text-align: center;
  z-index: 1;
}

.about_heading {
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 3em;
  text-align: center;
  z-index: 1; 
}

.about_first_section {
  display: flex;
  gap: 4rem;
  line-height: 1.5;
  text-align: left;
  max-width: 1280px;
  margin: 8rem auto;
}

.about_coloumn1 {
  flex: 1;
}

.about_coloumn2 {
  flex: 1;
}

.about_first_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about_title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about_heading {
  font-size: 5rem;
  margin-bottom: 20px;
}

.about_second_section {
  background-color: rgb(214, 213, 213);
}

.about_second_section_heading {
  padding-top: 8rem;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.about_second_section_subheading {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.about_second_section_container {
  display: flex;
  gap: 4rem;
  width: 1280px;
  margin: 0 auto;
}

.about_second_section_coloumn1 {
  gap: 4rem;
  line-height: 1.5;
  text-align: left;
  max-width: 1280px;
  margin: 8rem auto;
}

.about_second_section_coloumn2 {
  gap: 4rem;
  line-height: 1.5;
  text-align: left;
  max-width: 1280px;
  margin: 8rem auto;}

.about_second_section_coloumn3 {
  gap: 4rem;
  line-height: 1.5;
  text-align: left;
  max-width: 1280px;
  margin: 8rem auto;
}