.container {
  position: relative;
  margin: 0 auto;
}

.home_section {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.home_first_img {
  height: 100vh;
  width: 100%;
  object-fit: fill;
  position: relative;
}

.moto {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.moto p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.moto h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.home_learn_btn {
  margin-top: 40px;
  padding: 20px 30px;
  font-size: 1rem;
  background-color: #d37408;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.first_section {
  display: flex;
  gap: 4rem;
  line-height: 1.5;
  text-align: left;
  max-width: 1280px;
  margin: 8rem auto;
}

.coloumn1 {
  flex: 1;
}

.coloumn1 h1 {
  padding-bottom: 2rem;
}

.coloumn1 h3 {
  padding-bottom: 1rem;
}

.coloumn1 p {
  color: rgb(143, 145, 145);
}

.coloumn2 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home_about_btn {
  margin-top: 20px;
  padding: 20px 30px;
  font-size: 1rem;
  background-color: #d37408;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.line {
  border: none;
  height: 1px;
  background-color: #d37408;
  margin: 2rem 0;
}

.contact_info {
  display: flex;
  align-items: center; 
}

.first_section_questions{
  color: rgb(175, 177, 177);
}

.phone_number {
  font-size: 25px;
  padding-left: 1rem;
}


.home_second_img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.second_section {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 8rem auto;
}

.second_h1 {
  text-align: left;
  padding-bottom: 1rem;
}

.second_p {
  text-align: left;
  color: rgb(143, 145, 145);
  padding-bottom: 3rem;
}

.second_container {
  display: flex;
  gap: 4rem;
}

.second_coloumn1 {
  text-align: left;
  flex: 1;
}

.content {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.second_section_img {
  width: 50px;
  margin-right: 1rem;
}

.second_card {
  flex: 1;
}

.second_card h2 {
  margin-bottom: 1rem;
}

.second_card p {
  color: rgb(143, 145, 145);
}

.second_section_btn {
  padding: 10px 0px;
  font-size: 1rem;
  background: none;
  color: #d37408;
  border: none;
  cursor: pointer;
}

.second_coloumn2 {
  text-align: left;
  flex: 1;
}

.third_section {
  padding-bottom: 10rem;
  max-width: 80%;
  margin: 0 auto;
}

.third_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 20px;
}

.third_category {
  text-align: center;
}

.third_section_img{
  width: 5rem;
  margin-bottom: 1rem;
}

.third_category h4 {
  margin-bottom: 1rem;
  color: rgb(143, 145, 145);
  margin-top: 10px;
  font-size: 1.2rem;
}

.fourth_section {
  position: relative;
  padding-bottom: 10rem;
}

.fourth_container {
  display: flex;
  width: 1280px;
  gap: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.fourth_category{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.fourth_first{
  display: flex;
}

.fourth_section_line{
  border: none;
  height: 1px;
  background-color: #fff;
  margin: 2rem 0;

}

.fourth_second{
  display: flex;
}